.destinations {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.destination-images {
  display: flex;
}

.destination-images img {
  height: 6.2rem;
  width: 6.2rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #F3E5CE;
  object-fit: cover;
}

.destination-images img:last-child {
  margin: 0;
}

.destination-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
}

.destination-text span {
  color: #cf711f;
  font-weight: 700;
}