.section-header {
  background-color: #F4D699;
  padding: 9.6rem;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*align-items: center;*/
  gap: 9.6rem;

  max-width: 130rem;
  margin: 0 auto;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.header-title {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #2F2F2F;
  margin-bottom: 3.2rem;
}

.header-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #555;
}

.header-text-block {
  min-width: 42rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #555;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}